<!--The content below is only a placeholder and can be replaced.-->



<!--<app-user></app-user>-->

    <nav>
        <ul>
            <li>
                <a routerLink="getUsers" id="getUsers">List Users</a>
            </li>
            <li>
                <a routerLink="createUser">Create</a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    
   {{json}}
    <router-outlet></router-outlet>

