<html>
<body>

    <div class="row"  *ngIf="showMsg;else other">
        <div class="col-xs-12">
          <p class="alert alert-danger">
              <strong>User already exist</strong> 
          </p>
        </div>
      </div>
      
    <div>
      <form [formGroup]="userForm" (ngSubmit)="OnSubmit()">
        
        <label>Common Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your full name.." formControlName="commonName">
    
        <label>Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name.." formControlName="surName">
    
        <label>Employee Number</label>
        <input type="text" id="enumber" name="enumber" placeholder="employee number.." formControlName="employeeNumber">
    
        <label>Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Valid email" formControlName="email">
    
        <!--
        <label>ObjectClass</label>
        <select ngModel name="class">
          <option selected> Select ObajectClass</option>
          <option *ngFor="let obj of objectClasses" value="">{{obj}}</option>
        </select>
        -->
        
        <input type="submit" value="Submit">
      </form>
    </div>
    <!--{{ userForm.value | json}} -->
    
    </body>
    </html>
    