
<div>
  <!--
    <div >
         <button #btn1 type="button" (click)="onClick(btn1)" id="getUsers" >UserList</button>  
     </div>
    -->
  <!--   <div *ngFor='let item of json| keyvalue'>
         Key: {{item.key}}
      
          <div *ngFor='let obj of item.value'>
              {{obj.employeeNum}} || {{ obj .commonName}}  ||   {{obj.surName}}
            
          </div>
      </div>
    -->
      <table *ngFor='let item of json | keyvalue' id="users">
          <tr>
              <th>Employee Id</th>
              <th>Common Name</th>
              <th>SurName</th>
              <th>Mail</th>
              <th>DN</th>
          </tr>
         
      
       
        <tr *ngFor='let obj of item.value'>
          <td> {{obj.employeeNum}}</td>
          <td> {{ obj .commonName}} </td>
          <td>{{obj.surName}}</td>
          <td>{{obj.email}}</td>
          <td>{{obj.DN}}</td>
      </tr>

      </table>
   </div>